.icons {
  color: var(--color-letras);
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.5s;
}

.icons:hover {
  color: var(--color-Principal);
}


@media (max-width: 1000px) {
  .iconHambur {
    visibility: visible;
    width: 38px;
    height: 38px;
  }
}


.pruebaMenuMobile {
  background: rgba(37, 37, 37, 0.562);
  width: 100%;
  display: flex;
  position: absolute;
  gap: 1rem;
  text-align: center;
  top: 5rem;
  flex-direction: column;
}

.pruebaMenuMobile a {
  color: #fff;
  text-decoration: none;
}


.dataFlow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      var(--color-Principal),
      var(--color-Principal)
    ),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal)),
    linear-gradient(var(--color-Principal), var(--color-Principal));
  background-repeat: no-repeat;
  opacity: 0.45;
  background-size: 3% 0.6%;
  -webkit-animation: lft-rght 105s infinite linear;
  animation: lft-rght 115s infinite linear;
}

@-webkit-keyframes lft-rght {
  0% {
    background-position: 80% 91%, 115% 73%, 125% 7%, 41% 76%, 78% 27%, -20% 32%,
      -21% 62%, 61% 68%, 54% 68%, 44% 90%, 24% 13%, -24% 27%, 9% 21%, -13% 53%,
      42% 14%;
  }
  1% {
    background-position: 66% 91%, 80% 73%, -22% 7%, 74% 76%, 30% 27%, 84% 32%,
      4% 62%, 82% 68%, -17% 68%, 84% 90%, 30% 13%, 84% 27%, 89% 21%, 114% 53%,
      57% 14%;
  }
  2% {
    background-position: 120% 91%, 84% 73%, 22% 7%, 54% 76%, 112% 27%, -9% 32%,
      110% 62%, 37% 68%, -1% 68%, 16% 90%, -21% 13%, 83% 27%, 123% 21%, 58% 53%,
      -6% 14%;
  }
  3% {
    background-position: 117% 91%, -19% 73%, 109% 7%, 80% 76%, -13% 27%, 98% 32%,
      119% 62%, 121% 68%, 31% 68%, 0% 90%, 86% 13%, 4% 27%, -13% 21%, 9% 53%,
      76% 14%;
  }
  4% {
    background-position: 105% 91%, 6% 73%, -13% 7%, 40% 76%, 108% 27%, 78% 32%,
      42% 62%, 61% 68%, 88% 68%, 79% 90%, -23% 13%, 116% 27%, -20% 21%, 65% 53%,
      44% 14%;
  }
  5% {
    background-position: 118% 91%, 37% 73%, 100% 7%, 15% 76%, 110% 27%, 17% 32%,
      43% 62%, 13% 68%, 61% 68%, -2% 90%, -1% 13%, 125% 27%, -8% 21%, 15% 53%,
      3% 14%;
  }
  6% {
    background-position: 6% 91%, 102% 73%, 41% 7%, 119% 76%, 54% 27%, 117% 32%,
      91% 62%, 83% 68%, 79% 68%, -9% 90%, -21% 13%, 18% 27%, 61% 21%, 29% 53%,
      119% 14%;
  }
  7% {
    background-position: -16% 91%, -8% 73%, 2% 7%, 93% 76%, 21% 27%, 32% 32%,
      106% 62%, 121% 68%, 117% 68%, 5% 90%, 72% 13%, -3% 27%, 47% 21%, 35% 53%,
      0% 14%;
  }
  8% {
    background-position: 95% 91%, 64% 73%, 70% 7%, 103% 76%, 43% 27%, 119% 32%,
      94% 62%, -10% 68%, 28% 68%, 111% 90%, 59% 13%, -6% 27%, 90% 21%, 96% 53%,
      11% 14%;
  }
  9% {
    background-position: 110% 91%, 68% 73%, 65% 7%, 99% 76%, -14% 27%, 123% 32%,
      4% 62%, 116% 68%, -18% 68%, 99% 90%, 41% 13%, 65% 27%, 38% 21%, 54% 53%,
      18% 14%;
  }
  10% {
    background-position: 1% 91%, 117% 73%, 100% 7%, 27% 76%, 66% 27%, 114% 32%,
      1% 62%, 110% 68%, 102% 68%, 66% 90%, 113% 13%, -20% 27%, 97% 21%, 82% 53%,
      119% 14%;
  }
  11% {
    background-position: 10% 91%, 3% 73%, -23% 7%, 26% 76%, 37% 27%, 81% 32%,
      43% 62%, 7% 68%, -21% 68%, -6% 90%, -10% 13%, 88% 27%, 85% 21%, -16% 53%,
      62% 14%;
  }
  12% {
    background-position: 98% 91%, 28% 73%, 80% 7%, 100% 76%, 27% 27%, 93% 32%,
      78% 62%, 83% 68%, 120% 68%, 76% 90%, 56% 13%, 95% 27%, 28% 21%, 79% 53%,
      67% 14%;
  }
  13% {
    background-position: 58% 91%, 17% 73%, 10% 7%, 7% 76%, 12% 27%, 9% 32%,
      96% 62%, 84% 68%, -13% 68%, -2% 90%, -16% 13%, 77% 27%, 54% 21%, 48% 53%,
      53% 14%;
  }
  14% {
    background-position: 66% 91%, 80% 73%, -23% 7%, 82% 76%, 44% 27%, 72% 32%,
      12% 62%, 97% 68%, 72% 68%, 103% 90%, 125% 13%, 34% 27%, -1% 21%, 83% 53%,
      85% 14%;
  }
  15% {
    background-position: -6% 91%, -22% 73%, 76% 7%, 29% 76%, 119% 27%, 44% 32%,
      97% 62%, 90% 68%, 30% 68%, 121% 90%, -11% 13%, 68% 27%, 37% 21%, 91% 53%,
      55% 14%;
  }
  16% {
    background-position: 110% 91%, 56% 73%, 61% 7%, 78% 76%, 54% 27%, 47% 32%,
      49% 62%, -5% 68%, -10% 68%, -5% 90%, 111% 13%, -14% 27%, 32% 21%, 6% 53%,
      96% 14%;
  }
  17% {
    background-position: 24% 91%, 72% 73%, 12% 7%, 32% 76%, 87% 27%, 120% 32%,
      116% 62%, 34% 68%, 101% 68%, 49% 90%, 92% 13%, 50% 27%, 114% 21%, 82% 53%,
      62% 14%;
  }
  18% {
    background-position: 76% 91%, 50% 73%, 61% 7%, 72% 76%, 20% 27%, 58% 32%,
      45% 62%, 60% 68%, 91% 68%, 81% 90%, -13% 13%, 57% 27%, 4% 21%, 3% 53%,
      34% 14%;
  }
  19% {
    background-position: 53% 91%, -21% 73%, -15% 7%, -16% 76%, 94% 27%, 60% 32%,
      116% 62%, -2% 68%, 17% 68%, 91% 90%, -13% 13%, 24% 27%, 63% 21%, 109% 53%,
      -9% 14%;
  }
  20% {
    background-position: 12% 91%, 8% 73%, 70% 7%, 65% 76%, 35% 27%, 12% 32%,
      91% 62%, 62% 68%, 24% 68%, 13% 90%, -22% 13%, 2% 27%, 2% 21%, -19% 53%,
      23% 14%;
  }
  21% {
    background-position: 104% 91%, 54% 73%, 14% 7%, 72% 76%, -18% 27%, 8% 32%,
      112% 62%, 30% 68%, 33% 68%, 84% 90%, 15% 13%, 81% 27%, 49% 21%, 64% 53%,
      55% 14%;
  }
  22% {
    background-position: 95% 91%, -6% 73%, 70% 7%, 10% 76%, 66% 27%, 70% 32%,
      80% 62%, 43% 68%, 114% 68%, 56% 90%, 8% 13%, 32% 27%, 93% 21%, -13% 53%,
      37% 14%;
  }
  23% {
    background-position: 61% 91%, 101% 73%, 84% 7%, -13% 76%, 97% 27%, 36% 32%,
      24% 62%, 55% 68%, 70% 68%, 67% 90%, -1% 13%, 14% 27%, 50% 21%, 117% 53%,
      78% 14%;
  }
  24% {
    background-position: -14% 91%, 57% 73%, 29% 7%, -15% 76%, 109% 27%, -4% 32%,
      8% 62%, 124% 68%, 27% 68%, 73% 90%, 37% 13%, 27% 27%, -19% 21%, 64% 53%,
      75% 14%;
  }
  25% {
    background-position: 81% 91%, 10% 73%, 85% 7%, 111% 76%, -20% 27%, 117% 32%,
      80% 62%, 106% 68%, 57% 68%, -20% 90%, 48% 13%, -14% 27%, 49% 21%, 123% 53%,
      -3% 14%;
  }
  26% {
    background-position: 55% 91%, 7% 73%, 101% 7%, 34% 76%, 34% 27%, 117% 32%,
      20% 62%, -7% 68%, 101% 68%, 125% 90%, 29% 13%, -14% 27%, 109% 21%, 72% 53%,
      96% 14%;
  }
  27% {
    background-position: 10% 91%, 65% 73%, 41% 7%, 2% 76%, 112% 27%, 17% 32%,
      33% 62%, 122% 68%, 122% 68%, 41% 90%, -12% 13%, 56% 27%, -2% 21%, -19% 53%,
      74% 14%;
  }
  28% {
    background-position: 70% 91%, 92% 73%, 112% 7%, 61% 76%, 96% 27%, 52% 32%,
      -3% 62%, 121% 68%, 110% 68%, 72% 90%, 86% 13%, -6% 27%, 108% 21%, 2% 53%,
      1% 14%;
  }
  29% {
    background-position: 85% 91%, 124% 73%, 98% 7%, -17% 76%, 95% 27%, 38% 32%,
      -19% 62%, 124% 68%, 21% 68%, 71% 90%, 113% 13%, 28% 27%, 125% 21%, -5% 53%,
      119% 14%;
  }
  30% {
    background-position: -16% 91%, 0% 73%, 13% 7%, 87% 76%, 110% 27%, 113% 32%,
      72% 62%, 60% 68%, 62% 68%, -8% 90%, -19% 13%, 1% 27%, 83% 21%, 51% 53%,
      8% 14%;
  }
  31% {
    background-position: -10% 91%, 41% 73%, 22% 7%, 109% 76%, 108% 27%, 48% 32%,
      74% 62%, 49% 68%, 35% 68%, -20% 90%, 32% 13%, 103% 27%, 63% 21%, 43% 53%,
      108% 14%;
  }
  32% {
    background-position: 55% 91%, 117% 73%, 50% 7%, 67% 76%, -2% 27%, 46% 32%,
      13% 62%, 69% 68%, 97% 68%, 22% 90%, -10% 13%, 118% 27%, 4% 21%, -14% 53%,
      57% 14%;
  }
  33% {
    background-position: 35% 91%, 74% 73%, 46% 7%, 33% 76%, 46% 27%, 72% 32%,
      70% 62%, 32% 68%, -4% 68%, 33% 90%, 117% 13%, 25% 27%, 47% 21%, 3% 53%,
      -11% 14%;
  }
  34% {
    background-position: -16% 91%, 56% 73%, -4% 7%, 17% 76%, 68% 27%, 31% 32%,
      14% 62%, 27% 68%, 39% 68%, 4% 90%, 102% 13%, 57% 27%, 10% 21%, 113% 53%,
      16% 14%;
  }
  35% {
    background-position: 95% 91%, 67% 73%, 106% 7%, 72% 76%, 60% 27%, 2% 32%,
      3% 62%, -11% 68%, 28% 68%, -18% 90%, 35% 13%, 110% 27%, 12% 21%, 71% 53%,
      -5% 14%;
  }
  36% {
    background-position: -2% 91%, -22% 73%, 118% 7%, 81% 76%, 94% 27%, 16% 32%,
      32% 62%, 119% 68%, 110% 68%, 12% 90%, 35% 13%, 67% 27%, 58% 21%, 68% 53%,
      -20% 14%;
  }
  37% {
    background-position: 91% 91%, 19% 73%, 108% 7%, 73% 76%, 22% 27%, -17% 32%,
      104% 62%, 75% 68%, 78% 68%, 106% 90%, 98% 13%, 97% 27%, 94% 21%, 20% 53%,
      69% 14%;
  }
  38% {
    background-position: 61% 91%, 6% 73%, 47% 7%, -12% 76%, 32% 27%, 65% 32%,
      99% 62%, 7% 68%, 23% 68%, -10% 90%, 49% 13%, 38% 27%, -12% 21%, 16% 53%,
      -22% 14%;
  }
  39% {
    background-position: 33% 91%, 40% 73%, -7% 7%, -6% 76%, 86% 27%, 125% 32%,
      -4% 62%, 30% 68%, 57% 68%, 113% 90%, -3% 13%, 58% 27%, 33% 21%, 24% 53%,
      17% 14%;
  }
  40% {
    background-position: 37% 91%, 45% 73%, 46% 7%, 87% 76%, 73% 27%, 41% 32%,
      75% 62%, 0% 68%, 92% 68%, 74% 90%, -14% 13%, 54% 27%, 7% 21%, 106% 53%,
      -14% 14%;
  }
  41% {
    background-position: 97% 91%, 80% 73%, 83% 7%, 23% 76%, 51% 27%, 30% 32%,
      -4% 62%, 32% 68%, 118% 68%, 80% 90%, 96% 13%, -7% 27%, 106% 21%, 108% 53%,
      108% 14%;
  }
  42% {
    background-position: 29% 91%, 10% 73%, 9% 7%, 100% 76%, 15% 27%, 90% 32%,
      64% 62%, 110% 68%, 103% 68%, 39% 90%, 69% 13%, 113% 27%, -21% 21%, 53% 53%,
      -15% 14%;
  }
  43% {
    background-position: 19% 91%, 11% 73%, -21% 7%, 23% 76%, 4% 27%, 39% 32%,
      -21% 62%, 45% 68%, 53% 68%, 109% 90%, 21% 13%, -4% 27%, 19% 21%, 31% 53%,
      -6% 14%;
  }
  44% {
    background-position: 120% 91%, 27% 73%, 52% 7%, -1% 76%, 85% 27%, 7% 32%,
      106% 62%, -19% 68%, 39% 68%, -7% 90%, 101% 13%, -22% 27%, 0% 21%, -24% 53%,
      67% 14%;
  }
  45% {
    background-position: 24% 91%, 20% 73%, 96% 7%, 45% 76%, 80% 27%, -16% 32%,
      92% 62%, 116% 68%, 15% 68%, 59% 90%, 69% 13%, -10% 27%, 102% 21%, 46% 53%,
      -14% 14%;
  }
  46% {
    background-position: 103% 91%, 95% 73%, -22% 7%, -20% 76%, 123% 27%, -8% 32%,
      79% 62%, 115% 68%, 31% 68%, 125% 90%, -12% 13%, 33% 27%, 29% 21%, 28% 53%,
      48% 14%;
  }
  47% {
    background-position: -11% 91%, -13% 73%, 117% 7%, 21% 76%, 111% 27%, 4% 32%,
      -7% 62%, 65% 68%, 101% 68%, 69% 90%, 77% 13%, 56% 27%, 85% 21%, 41% 53%,
      -8% 14%;
  }
  48% {
    background-position: 7% 91%, -23% 73%, 123% 7%, 103% 76%, -19% 27%, 68% 32%,
      62% 62%, 114% 68%, 32% 68%, -16% 90%, -23% 13%, 87% 27%, 118% 21%, 17% 53%,
      -2% 14%;
  }
  49% {
    background-position: 81% 91%, 79% 73%, -13% 7%, 120% 76%, 0% 27%, 54% 32%,
      -7% 62%, 78% 68%, 99% 68%, 71% 90%, -1% 13%, -22% 27%, 8% 21%, 110% 53%,
      -2% 14%;
  }
  50% {
    background-position: 94% 91%, 67% 73%, 56% 7%, -5% 76%, 60% 27%, 15% 32%,
      26% 62%, -9% 68%, 117% 68%, 118% 90%, 60% 13%, -5% 27%, 55% 21%, 68% 53%,
      32% 14%;
  }
  51% {
    background-position: 123% 91%, 53% 73%, -6% 7%, 58% 76%, 102% 27%, 113% 32%,
      99% 62%, -17% 68%, 114% 68%, 125% 90%, 53% 13%, 51% 27%, 110% 21%, 75% 53%,
      95% 14%;
  }
  52% {
    background-position: 48% 91%, 1% 73%, 59% 7%, 84% 76%, -24% 27%, 80% 32%,
      124% 62%, 11% 68%, 98% 68%, 106% 90%, 111% 13%, 43% 27%, -24% 21%, 12% 53%,
      83% 14%;
  }
  53% {
    background-position: 60% 91%, 33% 73%, 105% 7%, 66% 76%, 1% 27%, 107% 32%,
      -23% 62%, 33% 68%, 60% 68%, 15% 90%, 30% 13%, 46% 27%, 117% 21%, -11% 53%,
      84% 14%;
  }
  54% {
    background-position: 124% 91%, 41% 73%, -11% 7%, 75% 76%, 21% 27%, 89% 32%,
      78% 62%, 98% 68%, 27% 68%, 60% 90%, 69% 13%, -1% 27%, 77% 21%, 105% 53%,
      40% 14%;
  }
  55% {
    background-position: -13% 91%, 19% 73%, 22% 7%, -10% 76%, 9% 27%, 113% 32%,
      51% 62%, -17% 68%, 50% 68%, 92% 90%, -15% 13%, 120% 27%, 41% 21%, 112% 53%,
      21% 14%;
  }
  56% {
    background-position: -5% 91%, -14% 73%, 37% 7%, 22% 76%, 105% 27%, -6% 32%,
      38% 62%, 51% 68%, 5% 68%, 23% 90%, 5% 13%, 75% 27%, 41% 21%, 31% 53%,
      56% 14%;
  }
  57% {
    background-position: 65% 91%, 101% 73%, 5% 7%, 84% 76%, 125% 27%, 58% 32%,
      55% 62%, -10% 68%, 33% 68%, -19% 90%, 104% 13%, 115% 27%, 17% 21%, 1% 53%,
      -10% 14%;
  }
  58% {
    background-position: 31% 91%, 26% 73%, -20% 7%, 108% 76%, 79% 27%, 20% 32%,
      35% 62%, 51% 68%, 31% 68%, 56% 90%, 52% 13%, 38% 27%, 44% 21%, 11% 53%,
      92% 14%;
  }
  59% {
    background-position: 41% 91%, 13% 73%, -1% 7%, 23% 76%, 102% 27%, 114% 32%,
      62% 62%, -20% 68%, -6% 68%, 6% 90%, 121% 13%, 31% 27%, 75% 21%, 41% 53%,
      105% 14%;
  }
  60% {
    background-position: 2% 91%, 121% 73%, 81% 7%, 64% 76%, 93% 27%, 101% 32%,
      37% 62%, 13% 68%, -9% 68%, 108% 90%, -7% 13%, 9% 27%, 17% 21%, 12% 53%,
      68% 14%;
  }
  61% {
    background-position: 101% 91%, 73% 73%, 31% 7%, 30% 76%, 44% 27%, 80% 32%,
      89% 62%, 84% 68%, -18% 68%, 24% 90%, 31% 13%, 106% 27%, 107% 21%, 75% 53%,
      112% 14%;
  }
  62% {
    background-position: 55% 91%, 101% 73%, 93% 7%, 6% 76%, -8% 27%, 72% 32%,
      68% 62%, 70% 68%, 57% 68%, 2% 90%, 100% 13%, 61% 27%, 10% 21%, -9% 53%,
      82% 14%;
  }
  63% {
    background-position: -17% 91%, 119% 73%, 106% 7%, -24% 76%, 91% 27%, 86% 32%,
      72% 62%, 81% 68%, -18% 68%, 58% 90%, -13% 13%, 122% 27%, 25% 21%, 20% 53%,
      108% 14%;
  }
  64% {
    background-position: 84% 91%, 94% 73%, 33% 7%, 93% 76%, 101% 27%, -19% 32%,
      68% 62%, 61% 68%, 87% 68%, 8% 90%, 31% 13%, 125% 27%, 53% 21%, 83% 53%,
      120% 14%;
  }
  65% {
    background-position: 4% 91%, -17% 73%, 95% 7%, 81% 76%, 94% 27%, 31% 32%,
      6% 62%, 30% 68%, 105% 68%, 69% 90%, 9% 13%, 78% 27%, 4% 21%, 50% 53%,
      76% 14%;
  }
  66% {
    background-position: 40% 91%, 71% 73%, 40% 7%, 18% 76%, 100% 27%, 8% 32%,
      -16% 62%, 34% 68%, 3% 68%, 112% 90%, 76% 13%, 28% 27%, 48% 21%, 94% 53%,
      85% 14%;
  }
  67% {
    background-position: 86% 91%, 55% 73%, 3% 7%, 70% 76%, 88% 27%, 62% 32%,
      6% 62%, -8% 68%, 106% 68%, 47% 90%, -6% 13%, -7% 27%, 105% 21%, 0% 53%,
      125% 14%;
  }
  68% {
    background-position: 37% 91%, -3% 73%, 40% 7%, 2% 76%, 84% 27%, -2% 32%,
      47% 62%, 103% 68%, 58% 68%, 83% 90%, 122% 13%, 102% 27%, -2% 21%, -16% 53%,
      82% 14%;
  }
  69% {
    background-position: -10% 91%, 100% 73%, -8% 7%, 44% 76%, 94% 27%, 61% 32%,
      9% 62%, 76% 68%, 74% 68%, 46% 90%, 100% 13%, 29% 27%, 89% 21%, 34% 53%,
      124% 14%;
  }
  70% {
    background-position: 15% 91%, 73% 73%, 100% 7%, 18% 76%, -22% 27%, 59% 32%,
      74% 62%, 26% 68%, 117% 68%, 118% 90%, 54% 13%, 32% 27%, 45% 21%, 26% 53%,
      22% 14%;
  }
  71% {
    background-position: -10% 91%, 112% 73%, 101% 7%, 111% 76%, 114% 27%,
      26% 32%, 19% 62%, -18% 68%, 119% 68%, 24% 90%, -6% 13%, 93% 27%, -21% 21%,
      80% 53%, 95% 14%;
  }
  72% {
    background-position: 22% 91%, 77% 73%, -11% 7%, 116% 76%, 86% 27%, 44% 32%,
      42% 62%, 109% 68%, 107% 68%, 98% 90%, 26% 13%, 46% 27%, -17% 21%, -18% 53%,
      36% 14%;
  }
  73% {
    background-position: 99% 91%, 6% 73%, -19% 7%, 123% 76%, 100% 27%, 125% 32%,
      -1% 62%, 34% 68%, 0% 68%, 96% 90%, -16% 13%, 15% 27%, 118% 21%, 78% 53%,
      101% 14%;
  }
  74% {
    background-position: -6% 91%, 78% 73%, 67% 7%, 21% 76%, 119% 27%, 0% 32%,
      -15% 62%, 18% 68%, 43% 68%, 55% 90%, 18% 13%, 2% 27%, 7% 21%, 124% 53%,
      21% 14%;
  }
  75% {
    background-position: 82% 91%, -9% 73%, 7% 7%, 118% 76%, 52% 27%, 30% 32%,
      121% 62%, 5% 68%, 29% 68%, -20% 90%, 31% 13%, 13% 27%, 12% 21%, 124% 53%,
      96% 14%;
  }
  76% {
    background-position: 120% 91%, 123% 73%, 60% 7%, 78% 76%, 108% 27%, 51% 32%,
      -5% 62%, 17% 68%, 121% 68%, 111% 90%, 122% 13%, -12% 27%, 77% 21%, 76% 53%,
      68% 14%;
  }
  77% {
    background-position: 116% 91%, 57% 73%, 64% 7%, 112% 76%, 50% 27%, -8% 32%,
      35% 62%, 23% 68%, 84% 68%, -1% 90%, 104% 13%, -14% 27%, 79% 21%, 83% 53%,
      53% 14%;
  }
  78% {
    background-position: -21% 91%, 46% 73%, 35% 7%, 9% 76%, 4% 27%, 11% 32%,
      -19% 62%, 76% 68%, -4% 68%, -4% 90%, 91% 13%, -12% 27%, 89% 21%, 115% 53%,
      -21% 14%;
  }
  79% {
    background-position: 63% 91%, 89% 73%, 35% 7%, 76% 76%, 62% 27%, 70% 32%,
      20% 62%, 71% 68%, 123% 68%, 27% 90%, 95% 13%, 14% 27%, 20% 21%, -18% 53%,
      -23% 14%;
  }
  80% {
    background-position: 30% 91%, 37% 73%, 95% 7%, -6% 76%, 64% 27%, 87% 32%,
      118% 62%, -24% 68%, 78% 68%, 58% 90%, 87% 13%, 1% 27%, 109% 21%, 96% 53%,
      115% 14%;
  }
  81% {
    background-position: 86% 91%, 42% 73%, 54% 7%, 83% 76%, 51% 27%, 98% 32%,
      100% 62%, 122% 68%, 71% 68%, 114% 90%, 46% 13%, 105% 27%, 85% 21%, 75% 53%,
      11% 14%;
  }
  82% {
    background-position: 38% 91%, 20% 73%, 62% 7%, 114% 76%, -2% 27%, 22% 32%,
      22% 62%, 70% 68%, 31% 68%, 22% 90%, 6% 13%, 111% 27%, 111% 21%, 55% 53%,
      66% 14%;
  }
  83% {
    background-position: 86% 91%, 76% 73%, -24% 7%, 71% 76%, 90% 27%, 21% 32%,
      -18% 62%, 63% 68%, 82% 68%, 103% 90%, 85% 13%, 61% 27%, 40% 21%, -22% 53%,
      9% 14%;
  }
  84% {
    background-position: 104% 91%, 99% 73%, -1% 7%, 111% 76%, 53% 27%, -12% 32%,
      105% 62%, -20% 68%, 85% 68%, 123% 90%, 107% 13%, 72% 27%, 111% 21%, 1% 53%,
      108% 14%;
  }
  85% {
    background-position: 70% 91%, 30% 73%, 52% 7%, 112% 76%, 116% 27%, 63% 32%,
      28% 62%, -19% 68%, 17% 68%, -6% 90%, -5% 13%, 12% 27%, 108% 21%, 91% 53%,
      -14% 14%;
  }
  86% {
    background-position: 15% 91%, 94% 73%, 14% 7%, 47% 76%, -22% 27%, -18% 32%,
      82% 62%, 85% 68%, 6% 68%, 55% 90%, -18% 13%, -1% 27%, -24% 21%, 15% 53%,
      67% 14%;
  }
  87% {
    background-position: 115% 91%, 59% 73%, 103% 7%, 123% 76%, 98% 27%, -6% 32%,
      111% 62%, 41% 68%, 36% 68%, 109% 90%, 86% 13%, 36% 27%, 96% 21%, 52% 53%,
      77% 14%;
  }
  88% {
    background-position: 41% 91%, 37% 73%, 107% 7%, 20% 76%, 62% 27%, 7% 32%,
      41% 62%, -5% 68%, 71% 68%, -4% 90%, 122% 13%, 122% 27%, 119% 21%, 43% 53%,
      83% 14%;
  }
  89% {
    background-position: -11% 91%, 117% 73%, 21% 7%, 87% 76%, -21% 27%, 71% 32%,
      101% 62%, 79% 68%, 114% 68%, 27% 90%, 16% 13%, 14% 27%, 24% 21%, 78% 53%,
      67% 14%;
  }
  90% {
    background-position: 52% 91%, 21% 73%, 114% 7%, -5% 76%, 10% 27%, -21% 32%,
      79% 62%, 86% 68%, 92% 68%, 28% 90%, -6% 13%, 6% 27%, 112% 21%, -13% 53%,
      2% 14%;
  }
  91% {
    background-position: -20% 91%, 104% 73%, 93% 7%, 88% 76%, -17% 27%, 85% 32%,
      -5% 62%, 59% 68%, 2% 68%, -18% 90%, 68% 13%, 82% 27%, 74% 21%, 6% 53%,
      77% 14%;
  }
  92% {
    background-position: 73% 91%, 10% 73%, 8% 7%, 29% 76%, 16% 27%, 26% 32%,
      47% 62%, -16% 68%, 25% 68%, 107% 90%, 26% 13%, 29% 27%, 77% 21%, 98% 53%,
      27% 14%;
  }
  93% {
    background-position: 0% 91%, 59% 73%, 40% 7%, 34% 76%, 0% 27%, 82% 32%,
      120% 62%, -16% 68%, 88% 68%, 56% 90%, 51% 13%, 82% 27%, 5% 21%, 7% 53%,
      -10% 14%;
  }
  94% {
    background-position: 54% 91%, -24% 73%, 4% 7%, 74% 76%, 104% 27%, 125% 32%,
      76% 62%, 51% 68%, 3% 68%, 48% 90%, 47% 13%, 4% 27%, 37% 21%, 44% 53%,
      40% 14%;
  }
  95% {
    background-position: -9% 91%, -9% 73%, -15% 7%, 12% 76%, 22% 27%, 78% 32%,
      17% 62%, 15% 68%, 74% 68%, -6% 90%, 7% 13%, 102% 27%, 12% 21%, 23% 53%,
      117% 14%;
  }
  96% {
    background-position: 115% 91%, 44% 73%, 100% 7%, -15% 76%, 19% 27%, 16% 32%,
      118% 62%, 111% 68%, 113% 68%, 14% 90%, 92% 13%, 90% 27%, 103% 21%, -9% 53%,
      58% 14%;
  }
  97% {
    background-position: 21% 91%, 30% 73%, 72% 7%, -3% 76%, 52% 27%, 83% 32%,
      93% 62%, 10% 68%, 124% 68%, 29% 90%, 46% 13%, 47% 27%, 95% 21%, 52% 53%,
      26% 14%;
  }
  98% {
    background-position: -5% 91%, 35% 73%, 118% 7%, 59% 76%, -12% 27%, 4% 32%,
      115% 62%, -18% 68%, -9% 68%, 30% 90%, 20% 13%, 62% 27%, 77% 21%, 55% 53%,
      85% 14%;
  }
  99% {
    background-position: 78% 91%, 31% 73%, -6% 7%, 108% 76%, 18% 27%, 110% 32%,
      -17% 62%, 57% 68%, 103% 68%, 74% 90%, -2% 13%, 102% 27%, 98% 21%, 110% 53%,
      8% 14%;
  }
  100% {
    background-position: -21% 91%, 99% 73%, 13% 7%, 109% 76%, -6% 27%, 120% 32%,
      91% 62%, 75% 68%, 85% 68%, 106% 90%, -12% 13%, -18% 27%, -6% 21%, 104% 53%,
      46% 14%;
  }
}

@keyframes lft-rght {
  0% {
    background-position: 80% 91%, 115% 73%, 125% 7%, 41% 76%, 78% 27%, -20% 32%,
      -21% 62%, 61% 68%, 54% 68%, 44% 90%, 24% 13%, -24% 27%, 9% 21%, -13% 53%,
      42% 14%;
  }
  1% {
    background-position: 66% 91%, 80% 73%, -22% 7%, 74% 76%, 30% 27%, 84% 32%,
      4% 62%, 82% 68%, -17% 68%, 84% 90%, 30% 13%, 84% 27%, 89% 21%, 114% 53%,
      57% 14%;
  }
  2% {
    background-position: 120% 91%, 84% 73%, 22% 7%, 54% 76%, 112% 27%, -9% 32%,
      110% 62%, 37% 68%, -1% 68%, 16% 90%, -21% 13%, 83% 27%, 123% 21%, 58% 53%,
      -6% 14%;
  }
  3% {
    background-position: 117% 91%, -19% 73%, 109% 7%, 80% 76%, -13% 27%, 98% 32%,
      119% 62%, 121% 68%, 31% 68%, 0% 90%, 86% 13%, 4% 27%, -13% 21%, 9% 53%,
      76% 14%;
  }
  4% {
    background-position: 105% 91%, 6% 73%, -13% 7%, 40% 76%, 108% 27%, 78% 32%,
      42% 62%, 61% 68%, 88% 68%, 79% 90%, -23% 13%, 116% 27%, -20% 21%, 65% 53%,
      44% 14%;
  }
  5% {
    background-position: 118% 91%, 37% 73%, 100% 7%, 15% 76%, 110% 27%, 17% 32%,
      43% 62%, 13% 68%, 61% 68%, -2% 90%, -1% 13%, 125% 27%, -8% 21%, 15% 53%,
      3% 14%;
  }
  6% {
    background-position: 6% 91%, 102% 73%, 41% 7%, 119% 76%, 54% 27%, 117% 32%,
      91% 62%, 83% 68%, 79% 68%, -9% 90%, -21% 13%, 18% 27%, 61% 21%, 29% 53%,
      119% 14%;
  }
  7% {
    background-position: -16% 91%, -8% 73%, 2% 7%, 93% 76%, 21% 27%, 32% 32%,
      106% 62%, 121% 68%, 117% 68%, 5% 90%, 72% 13%, -3% 27%, 47% 21%, 35% 53%,
      0% 14%;
  }
  8% {
    background-position: 95% 91%, 64% 73%, 70% 7%, 103% 76%, 43% 27%, 119% 32%,
      94% 62%, -10% 68%, 28% 68%, 111% 90%, 59% 13%, -6% 27%, 90% 21%, 96% 53%,
      11% 14%;
  }
  9% {
    background-position: 110% 91%, 68% 73%, 65% 7%, 99% 76%, -14% 27%, 123% 32%,
      4% 62%, 116% 68%, -18% 68%, 99% 90%, 41% 13%, 65% 27%, 38% 21%, 54% 53%,
      18% 14%;
  }
  10% {
    background-position: 1% 91%, 117% 73%, 100% 7%, 27% 76%, 66% 27%, 114% 32%,
      1% 62%, 110% 68%, 102% 68%, 66% 90%, 113% 13%, -20% 27%, 97% 21%, 82% 53%,
      119% 14%;
  }
  11% {
    background-position: 10% 91%, 3% 73%, -23% 7%, 26% 76%, 37% 27%, 81% 32%,
      43% 62%, 7% 68%, -21% 68%, -6% 90%, -10% 13%, 88% 27%, 85% 21%, -16% 53%,
      62% 14%;
  }
  12% {
    background-position: 98% 91%, 28% 73%, 80% 7%, 100% 76%, 27% 27%, 93% 32%,
      78% 62%, 83% 68%, 120% 68%, 76% 90%, 56% 13%, 95% 27%, 28% 21%, 79% 53%,
      67% 14%;
  }
  13% {
    background-position: 58% 91%, 17% 73%, 10% 7%, 7% 76%, 12% 27%, 9% 32%,
      96% 62%, 84% 68%, -13% 68%, -2% 90%, -16% 13%, 77% 27%, 54% 21%, 48% 53%,
      53% 14%;
  }
  14% {
    background-position: 66% 91%, 80% 73%, -23% 7%, 82% 76%, 44% 27%, 72% 32%,
      12% 62%, 97% 68%, 72% 68%, 103% 90%, 125% 13%, 34% 27%, -1% 21%, 83% 53%,
      85% 14%;
  }
  15% {
    background-position: -6% 91%, -22% 73%, 76% 7%, 29% 76%, 119% 27%, 44% 32%,
      97% 62%, 90% 68%, 30% 68%, 121% 90%, -11% 13%, 68% 27%, 37% 21%, 91% 53%,
      55% 14%;
  }
  16% {
    background-position: 110% 91%, 56% 73%, 61% 7%, 78% 76%, 54% 27%, 47% 32%,
      49% 62%, -5% 68%, -10% 68%, -5% 90%, 111% 13%, -14% 27%, 32% 21%, 6% 53%,
      96% 14%;
  }
  17% {
    background-position: 24% 91%, 72% 73%, 12% 7%, 32% 76%, 87% 27%, 120% 32%,
      116% 62%, 34% 68%, 101% 68%, 49% 90%, 92% 13%, 50% 27%, 114% 21%, 82% 53%,
      62% 14%;
  }
  18% {
    background-position: 76% 91%, 50% 73%, 61% 7%, 72% 76%, 20% 27%, 58% 32%,
      45% 62%, 60% 68%, 91% 68%, 81% 90%, -13% 13%, 57% 27%, 4% 21%, 3% 53%,
      34% 14%;
  }
  19% {
    background-position: 53% 91%, -21% 73%, -15% 7%, -16% 76%, 94% 27%, 60% 32%,
      116% 62%, -2% 68%, 17% 68%, 91% 90%, -13% 13%, 24% 27%, 63% 21%, 109% 53%,
      -9% 14%;
  }
  20% {
    background-position: 12% 91%, 8% 73%, 70% 7%, 65% 76%, 35% 27%, 12% 32%,
      91% 62%, 62% 68%, 24% 68%, 13% 90%, -22% 13%, 2% 27%, 2% 21%, -19% 53%,
      23% 14%;
  }
  21% {
    background-position: 104% 91%, 54% 73%, 14% 7%, 72% 76%, -18% 27%, 8% 32%,
      112% 62%, 30% 68%, 33% 68%, 84% 90%, 15% 13%, 81% 27%, 49% 21%, 64% 53%,
      55% 14%;
  }
  22% {
    background-position: 95% 91%, -6% 73%, 70% 7%, 10% 76%, 66% 27%, 70% 32%,
      80% 62%, 43% 68%, 114% 68%, 56% 90%, 8% 13%, 32% 27%, 93% 21%, -13% 53%,
      37% 14%;
  }
  23% {
    background-position: 61% 91%, 101% 73%, 84% 7%, -13% 76%, 97% 27%, 36% 32%,
      24% 62%, 55% 68%, 70% 68%, 67% 90%, -1% 13%, 14% 27%, 50% 21%, 117% 53%,
      78% 14%;
  }
  24% {
    background-position: -14% 91%, 57% 73%, 29% 7%, -15% 76%, 109% 27%, -4% 32%,
      8% 62%, 124% 68%, 27% 68%, 73% 90%, 37% 13%, 27% 27%, -19% 21%, 64% 53%,
      75% 14%;
  }
  25% {
    background-position: 81% 91%, 10% 73%, 85% 7%, 111% 76%, -20% 27%, 117% 32%,
      80% 62%, 106% 68%, 57% 68%, -20% 90%, 48% 13%, -14% 27%, 49% 21%, 123% 53%,
      -3% 14%;
  }
  26% {
    background-position: 55% 91%, 7% 73%, 101% 7%, 34% 76%, 34% 27%, 117% 32%,
      20% 62%, -7% 68%, 101% 68%, 125% 90%, 29% 13%, -14% 27%, 109% 21%, 72% 53%,
      96% 14%;
  }
  27% {
    background-position: 10% 91%, 65% 73%, 41% 7%, 2% 76%, 112% 27%, 17% 32%,
      33% 62%, 122% 68%, 122% 68%, 41% 90%, -12% 13%, 56% 27%, -2% 21%, -19% 53%,
      74% 14%;
  }
  28% {
    background-position: 70% 91%, 92% 73%, 112% 7%, 61% 76%, 96% 27%, 52% 32%,
      -3% 62%, 121% 68%, 110% 68%, 72% 90%, 86% 13%, -6% 27%, 108% 21%, 2% 53%,
      1% 14%;
  }
  29% {
    background-position: 85% 91%, 124% 73%, 98% 7%, -17% 76%, 95% 27%, 38% 32%,
      -19% 62%, 124% 68%, 21% 68%, 71% 90%, 113% 13%, 28% 27%, 125% 21%, -5% 53%,
      119% 14%;
  }
  30% {
    background-position: -16% 91%, 0% 73%, 13% 7%, 87% 76%, 110% 27%, 113% 32%,
      72% 62%, 60% 68%, 62% 68%, -8% 90%, -19% 13%, 1% 27%, 83% 21%, 51% 53%,
      8% 14%;
  }
  31% {
    background-position: -10% 91%, 41% 73%, 22% 7%, 109% 76%, 108% 27%, 48% 32%,
      74% 62%, 49% 68%, 35% 68%, -20% 90%, 32% 13%, 103% 27%, 63% 21%, 43% 53%,
      108% 14%;
  }
  32% {
    background-position: 55% 91%, 117% 73%, 50% 7%, 67% 76%, -2% 27%, 46% 32%,
      13% 62%, 69% 68%, 97% 68%, 22% 90%, -10% 13%, 118% 27%, 4% 21%, -14% 53%,
      57% 14%;
  }
  33% {
    background-position: 35% 91%, 74% 73%, 46% 7%, 33% 76%, 46% 27%, 72% 32%,
      70% 62%, 32% 68%, -4% 68%, 33% 90%, 117% 13%, 25% 27%, 47% 21%, 3% 53%,
      -11% 14%;
  }
  34% {
    background-position: -16% 91%, 56% 73%, -4% 7%, 17% 76%, 68% 27%, 31% 32%,
      14% 62%, 27% 68%, 39% 68%, 4% 90%, 102% 13%, 57% 27%, 10% 21%, 113% 53%,
      16% 14%;
  }
  35% {
    background-position: 95% 91%, 67% 73%, 106% 7%, 72% 76%, 60% 27%, 2% 32%,
      3% 62%, -11% 68%, 28% 68%, -18% 90%, 35% 13%, 110% 27%, 12% 21%, 71% 53%,
      -5% 14%;
  }
  36% {
    background-position: -2% 91%, -22% 73%, 118% 7%, 81% 76%, 94% 27%, 16% 32%,
      32% 62%, 119% 68%, 110% 68%, 12% 90%, 35% 13%, 67% 27%, 58% 21%, 68% 53%,
      -20% 14%;
  }
  37% {
    background-position: 91% 91%, 19% 73%, 108% 7%, 73% 76%, 22% 27%, -17% 32%,
      104% 62%, 75% 68%, 78% 68%, 106% 90%, 98% 13%, 97% 27%, 94% 21%, 20% 53%,
      69% 14%;
  }
  38% {
    background-position: 61% 91%, 6% 73%, 47% 7%, -12% 76%, 32% 27%, 65% 32%,
      99% 62%, 7% 68%, 23% 68%, -10% 90%, 49% 13%, 38% 27%, -12% 21%, 16% 53%,
      -22% 14%;
  }
  39% {
    background-position: 33% 91%, 40% 73%, -7% 7%, -6% 76%, 86% 27%, 125% 32%,
      -4% 62%, 30% 68%, 57% 68%, 113% 90%, -3% 13%, 58% 27%, 33% 21%, 24% 53%,
      17% 14%;
  }
  40% {
    background-position: 37% 91%, 45% 73%, 46% 7%, 87% 76%, 73% 27%, 41% 32%,
      75% 62%, 0% 68%, 92% 68%, 74% 90%, -14% 13%, 54% 27%, 7% 21%, 106% 53%,
      -14% 14%;
  }
  41% {
    background-position: 97% 91%, 80% 73%, 83% 7%, 23% 76%, 51% 27%, 30% 32%,
      -4% 62%, 32% 68%, 118% 68%, 80% 90%, 96% 13%, -7% 27%, 106% 21%, 108% 53%,
      108% 14%;
  }
  42% {
    background-position: 29% 91%, 10% 73%, 9% 7%, 100% 76%, 15% 27%, 90% 32%,
      64% 62%, 110% 68%, 103% 68%, 39% 90%, 69% 13%, 113% 27%, -21% 21%, 53% 53%,
      -15% 14%;
  }
  43% {
    background-position: 19% 91%, 11% 73%, -21% 7%, 23% 76%, 4% 27%, 39% 32%,
      -21% 62%, 45% 68%, 53% 68%, 109% 90%, 21% 13%, -4% 27%, 19% 21%, 31% 53%,
      -6% 14%;
  }
  44% {
    background-position: 120% 91%, 27% 73%, 52% 7%, -1% 76%, 85% 27%, 7% 32%,
      106% 62%, -19% 68%, 39% 68%, -7% 90%, 101% 13%, -22% 27%, 0% 21%, -24% 53%,
      67% 14%;
  }
  45% {
    background-position: 24% 91%, 20% 73%, 96% 7%, 45% 76%, 80% 27%, -16% 32%,
      92% 62%, 116% 68%, 15% 68%, 59% 90%, 69% 13%, -10% 27%, 102% 21%, 46% 53%,
      -14% 14%;
  }
  46% {
    background-position: 103% 91%, 95% 73%, -22% 7%, -20% 76%, 123% 27%, -8% 32%,
      79% 62%, 115% 68%, 31% 68%, 125% 90%, -12% 13%, 33% 27%, 29% 21%, 28% 53%,
      48% 14%;
  }
  47% {
    background-position: -11% 91%, -13% 73%, 117% 7%, 21% 76%, 111% 27%, 4% 32%,
      -7% 62%, 65% 68%, 101% 68%, 69% 90%, 77% 13%, 56% 27%, 85% 21%, 41% 53%,
      -8% 14%;
  }
  48% {
    background-position: 7% 91%, -23% 73%, 123% 7%, 103% 76%, -19% 27%, 68% 32%,
      62% 62%, 114% 68%, 32% 68%, -16% 90%, -23% 13%, 87% 27%, 118% 21%, 17% 53%,
      -2% 14%;
  }
  49% {
    background-position: 81% 91%, 79% 73%, -13% 7%, 120% 76%, 0% 27%, 54% 32%,
      -7% 62%, 78% 68%, 99% 68%, 71% 90%, -1% 13%, -22% 27%, 8% 21%, 110% 53%,
      -2% 14%;
  }
  50% {
    background-position: 94% 91%, 67% 73%, 56% 7%, -5% 76%, 60% 27%, 15% 32%,
      26% 62%, -9% 68%, 117% 68%, 118% 90%, 60% 13%, -5% 27%, 55% 21%, 68% 53%,
      32% 14%;
  }
  51% {
    background-position: 123% 91%, 53% 73%, -6% 7%, 58% 76%, 102% 27%, 113% 32%,
      99% 62%, -17% 68%, 114% 68%, 125% 90%, 53% 13%, 51% 27%, 110% 21%, 75% 53%,
      95% 14%;
  }
  52% {
    background-position: 48% 91%, 1% 73%, 59% 7%, 84% 76%, -24% 27%, 80% 32%,
      124% 62%, 11% 68%, 98% 68%, 106% 90%, 111% 13%, 43% 27%, -24% 21%, 12% 53%,
      83% 14%;
  }
  53% {
    background-position: 60% 91%, 33% 73%, 105% 7%, 66% 76%, 1% 27%, 107% 32%,
      -23% 62%, 33% 68%, 60% 68%, 15% 90%, 30% 13%, 46% 27%, 117% 21%, -11% 53%,
      84% 14%;
  }
  54% {
    background-position: 124% 91%, 41% 73%, -11% 7%, 75% 76%, 21% 27%, 89% 32%,
      78% 62%, 98% 68%, 27% 68%, 60% 90%, 69% 13%, -1% 27%, 77% 21%, 105% 53%,
      40% 14%;
  }
  55% {
    background-position: -13% 91%, 19% 73%, 22% 7%, -10% 76%, 9% 27%, 113% 32%,
      51% 62%, -17% 68%, 50% 68%, 92% 90%, -15% 13%, 120% 27%, 41% 21%, 112% 53%,
      21% 14%;
  }
  56% {
    background-position: -5% 91%, -14% 73%, 37% 7%, 22% 76%, 105% 27%, -6% 32%,
      38% 62%, 51% 68%, 5% 68%, 23% 90%, 5% 13%, 75% 27%, 41% 21%, 31% 53%,
      56% 14%;
  }
  57% {
    background-position: 65% 91%, 101% 73%, 5% 7%, 84% 76%, 125% 27%, 58% 32%,
      55% 62%, -10% 68%, 33% 68%, -19% 90%, 104% 13%, 115% 27%, 17% 21%, 1% 53%,
      -10% 14%;
  }
  58% {
    background-position: 31% 91%, 26% 73%, -20% 7%, 108% 76%, 79% 27%, 20% 32%,
      35% 62%, 51% 68%, 31% 68%, 56% 90%, 52% 13%, 38% 27%, 44% 21%, 11% 53%,
      92% 14%;
  }
  59% {
    background-position: 41% 91%, 13% 73%, -1% 7%, 23% 76%, 102% 27%, 114% 32%,
      62% 62%, -20% 68%, -6% 68%, 6% 90%, 121% 13%, 31% 27%, 75% 21%, 41% 53%,
      105% 14%;
  }
  60% {
    background-position: 2% 91%, 121% 73%, 81% 7%, 64% 76%, 93% 27%, 101% 32%,
      37% 62%, 13% 68%, -9% 68%, 108% 90%, -7% 13%, 9% 27%, 17% 21%, 12% 53%,
      68% 14%;
  }
  61% {
    background-position: 101% 91%, 73% 73%, 31% 7%, 30% 76%, 44% 27%, 80% 32%,
      89% 62%, 84% 68%, -18% 68%, 24% 90%, 31% 13%, 106% 27%, 107% 21%, 75% 53%,
      112% 14%;
  }
  62% {
    background-position: 55% 91%, 101% 73%, 93% 7%, 6% 76%, -8% 27%, 72% 32%,
      68% 62%, 70% 68%, 57% 68%, 2% 90%, 100% 13%, 61% 27%, 10% 21%, -9% 53%,
      82% 14%;
  }
  63% {
    background-position: -17% 91%, 119% 73%, 106% 7%, -24% 76%, 91% 27%, 86% 32%,
      72% 62%, 81% 68%, -18% 68%, 58% 90%, -13% 13%, 122% 27%, 25% 21%, 20% 53%,
      108% 14%;
  }
  64% {
    background-position: 84% 91%, 94% 73%, 33% 7%, 93% 76%, 101% 27%, -19% 32%,
      68% 62%, 61% 68%, 87% 68%, 8% 90%, 31% 13%, 125% 27%, 53% 21%, 83% 53%,
      120% 14%;
  }
  65% {
    background-position: 4% 91%, -17% 73%, 95% 7%, 81% 76%, 94% 27%, 31% 32%,
      6% 62%, 30% 68%, 105% 68%, 69% 90%, 9% 13%, 78% 27%, 4% 21%, 50% 53%,
      76% 14%;
  }
  66% {
    background-position: 40% 91%, 71% 73%, 40% 7%, 18% 76%, 100% 27%, 8% 32%,
      -16% 62%, 34% 68%, 3% 68%, 112% 90%, 76% 13%, 28% 27%, 48% 21%, 94% 53%,
      85% 14%;
  }
  67% {
    background-position: 86% 91%, 55% 73%, 3% 7%, 70% 76%, 88% 27%, 62% 32%,
      6% 62%, -8% 68%, 106% 68%, 47% 90%, -6% 13%, -7% 27%, 105% 21%, 0% 53%,
      125% 14%;
  }
  68% {
    background-position: 37% 91%, -3% 73%, 40% 7%, 2% 76%, 84% 27%, -2% 32%,
      47% 62%, 103% 68%, 58% 68%, 83% 90%, 122% 13%, 102% 27%, -2% 21%, -16% 53%,
      82% 14%;
  }
  69% {
    background-position: -10% 91%, 100% 73%, -8% 7%, 44% 76%, 94% 27%, 61% 32%,
      9% 62%, 76% 68%, 74% 68%, 46% 90%, 100% 13%, 29% 27%, 89% 21%, 34% 53%,
      124% 14%;
  }
  70% {
    background-position: 15% 91%, 73% 73%, 100% 7%, 18% 76%, -22% 27%, 59% 32%,
      74% 62%, 26% 68%, 117% 68%, 118% 90%, 54% 13%, 32% 27%, 45% 21%, 26% 53%,
      22% 14%;
  }
  71% {
    background-position: -10% 91%, 112% 73%, 101% 7%, 111% 76%, 114% 27%,
      26% 32%, 19% 62%, -18% 68%, 119% 68%, 24% 90%, -6% 13%, 93% 27%, -21% 21%,
      80% 53%, 95% 14%;
  }
  72% {
    background-position: 22% 91%, 77% 73%, -11% 7%, 116% 76%, 86% 27%, 44% 32%,
      42% 62%, 109% 68%, 107% 68%, 98% 90%, 26% 13%, 46% 27%, -17% 21%, -18% 53%,
      36% 14%;
  }
  73% {
    background-position: 99% 91%, 6% 73%, -19% 7%, 123% 76%, 100% 27%, 125% 32%,
      -1% 62%, 34% 68%, 0% 68%, 96% 90%, -16% 13%, 15% 27%, 118% 21%, 78% 53%,
      101% 14%;
  }
  74% {
    background-position: -6% 91%, 78% 73%, 67% 7%, 21% 76%, 119% 27%, 0% 32%,
      -15% 62%, 18% 68%, 43% 68%, 55% 90%, 18% 13%, 2% 27%, 7% 21%, 124% 53%,
      21% 14%;
  }
  75% {
    background-position: 82% 91%, -9% 73%, 7% 7%, 118% 76%, 52% 27%, 30% 32%,
      121% 62%, 5% 68%, 29% 68%, -20% 90%, 31% 13%, 13% 27%, 12% 21%, 124% 53%,
      96% 14%;
  }
  76% {
    background-position: 120% 91%, 123% 73%, 60% 7%, 78% 76%, 108% 27%, 51% 32%,
      -5% 62%, 17% 68%, 121% 68%, 111% 90%, 122% 13%, -12% 27%, 77% 21%, 76% 53%,
      68% 14%;
  }
  77% {
    background-position: 116% 91%, 57% 73%, 64% 7%, 112% 76%, 50% 27%, -8% 32%,
      35% 62%, 23% 68%, 84% 68%, -1% 90%, 104% 13%, -14% 27%, 79% 21%, 83% 53%,
      53% 14%;
  }
  78% {
    background-position: -21% 91%, 46% 73%, 35% 7%, 9% 76%, 4% 27%, 11% 32%,
      -19% 62%, 76% 68%, -4% 68%, -4% 90%, 91% 13%, -12% 27%, 89% 21%, 115% 53%,
      -21% 14%;
  }
  79% {
    background-position: 63% 91%, 89% 73%, 35% 7%, 76% 76%, 62% 27%, 70% 32%,
      20% 62%, 71% 68%, 123% 68%, 27% 90%, 95% 13%, 14% 27%, 20% 21%, -18% 53%,
      -23% 14%;
  }
  80% {
    background-position: 30% 91%, 37% 73%, 95% 7%, -6% 76%, 64% 27%, 87% 32%,
      118% 62%, -24% 68%, 78% 68%, 58% 90%, 87% 13%, 1% 27%, 109% 21%, 96% 53%,
      115% 14%;
  }
  81% {
    background-position: 86% 91%, 42% 73%, 54% 7%, 83% 76%, 51% 27%, 98% 32%,
      100% 62%, 122% 68%, 71% 68%, 114% 90%, 46% 13%, 105% 27%, 85% 21%, 75% 53%,
      11% 14%;
  }
  82% {
    background-position: 38% 91%, 20% 73%, 62% 7%, 114% 76%, -2% 27%, 22% 32%,
      22% 62%, 70% 68%, 31% 68%, 22% 90%, 6% 13%, 111% 27%, 111% 21%, 55% 53%,
      66% 14%;
  }
  83% {
    background-position: 86% 91%, 76% 73%, -24% 7%, 71% 76%, 90% 27%, 21% 32%,
      -18% 62%, 63% 68%, 82% 68%, 103% 90%, 85% 13%, 61% 27%, 40% 21%, -22% 53%,
      9% 14%;
  }
  84% {
    background-position: 104% 91%, 99% 73%, -1% 7%, 111% 76%, 53% 27%, -12% 32%,
      105% 62%, -20% 68%, 85% 68%, 123% 90%, 107% 13%, 72% 27%, 111% 21%, 1% 53%,
      108% 14%;
  }
  85% {
    background-position: 70% 91%, 30% 73%, 52% 7%, 112% 76%, 116% 27%, 63% 32%,
      28% 62%, -19% 68%, 17% 68%, -6% 90%, -5% 13%, 12% 27%, 108% 21%, 91% 53%,
      -14% 14%;
  }
  86% {
    background-position: 15% 91%, 94% 73%, 14% 7%, 47% 76%, -22% 27%, -18% 32%,
      82% 62%, 85% 68%, 6% 68%, 55% 90%, -18% 13%, -1% 27%, -24% 21%, 15% 53%,
      67% 14%;
  }
  87% {
    background-position: 115% 91%, 59% 73%, 103% 7%, 123% 76%, 98% 27%, -6% 32%,
      111% 62%, 41% 68%, 36% 68%, 109% 90%, 86% 13%, 36% 27%, 96% 21%, 52% 53%,
      77% 14%;
  }
  88% {
    background-position: 41% 91%, 37% 73%, 107% 7%, 20% 76%, 62% 27%, 7% 32%,
      41% 62%, -5% 68%, 71% 68%, -4% 90%, 122% 13%, 122% 27%, 119% 21%, 43% 53%,
      83% 14%;
  }
  89% {
    background-position: -11% 91%, 117% 73%, 21% 7%, 87% 76%, -21% 27%, 71% 32%,
      101% 62%, 79% 68%, 114% 68%, 27% 90%, 16% 13%, 14% 27%, 24% 21%, 78% 53%,
      67% 14%;
  }
  90% {
    background-position: 52% 91%, 21% 73%, 114% 7%, -5% 76%, 10% 27%, -21% 32%,
      79% 62%, 86% 68%, 92% 68%, 28% 90%, -6% 13%, 6% 27%, 112% 21%, -13% 53%,
      2% 14%;
  }
  91% {
    background-position: -20% 91%, 104% 73%, 93% 7%, 88% 76%, -17% 27%, 85% 32%,
      -5% 62%, 59% 68%, 2% 68%, -18% 90%, 68% 13%, 82% 27%, 74% 21%, 6% 53%,
      77% 14%;
  }
  92% {
    background-position: 73% 91%, 10% 73%, 8% 7%, 29% 76%, 16% 27%, 26% 32%,
      47% 62%, -16% 68%, 25% 68%, 107% 90%, 26% 13%, 29% 27%, 77% 21%, 98% 53%,
      27% 14%;
  }
  93% {
    background-position: 0% 91%, 59% 73%, 40% 7%, 34% 76%, 0% 27%, 82% 32%,
      120% 62%, -16% 68%, 88% 68%, 56% 90%, 51% 13%, 82% 27%, 5% 21%, 7% 53%,
      -10% 14%;
  }
  94% {
    background-position: 54% 91%, -24% 73%, 4% 7%, 74% 76%, 104% 27%, 125% 32%,
      76% 62%, 51% 68%, 3% 68%, 48% 90%, 47% 13%, 4% 27%, 37% 21%, 44% 53%,
      40% 14%;
  }
  95% {
    background-position: -9% 91%, -9% 73%, -15% 7%, 12% 76%, 22% 27%, 78% 32%,
      17% 62%, 15% 68%, 74% 68%, -6% 90%, 7% 13%, 102% 27%, 12% 21%, 23% 53%,
      117% 14%;
  }
  96% {
    background-position: 115% 91%, 44% 73%, 100% 7%, -15% 76%, 19% 27%, 16% 32%,
      118% 62%, 111% 68%, 113% 68%, 14% 90%, 92% 13%, 90% 27%, 103% 21%, -9% 53%,
      58% 14%;
  }
  97% {
    background-position: 21% 91%, 30% 73%, 72% 7%, -3% 76%, 52% 27%, 83% 32%,
      93% 62%, 10% 68%, 124% 68%, 29% 90%, 46% 13%, 47% 27%, 95% 21%, 52% 53%,
      26% 14%;
  }
  98% {
    background-position: -5% 91%, 35% 73%, 118% 7%, 59% 76%, -12% 27%, 4% 32%,
      115% 62%, -18% 68%, -9% 68%, 30% 90%, 20% 13%, 62% 27%, 77% 21%, 55% 53%,
      85% 14%;
  }
  99% {
    background-position: 78% 91%, 31% 73%, -6% 7%, 108% 76%, 18% 27%, 110% 32%,
      -17% 62%, 57% 68%, 103% 68%, 74% 90%, -2% 13%, 102% 27%, 98% 21%, 110% 53%,
      8% 14%;
  }
  100% {
    background-position: -21% 91%, 99% 73%, 13% 7%, 109% 76%, -6% 27%, 120% 32%,
      91% 62%, 75% 68%, 85% 68%, 106% 90%, -12% 13%, -18% 27%, -6% 21%, 104% 53%,
      46% 14%;
  }
}
